1. Acts of the Pennsylvania assembly: 1790 December session

CHAP. I.
An ACT to declare and establish the Seals of this commonwealth. 1 (109)
CHAP. II.
An ACT for instituting a Board of Property, and for other purposes therein mentioned. 2 (701)
